<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <!--移动优先-->
    <title>光合硅能</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1"/>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit"/>

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="/assets/i/favicon.png"/>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes"/>
    <link rel="icon" sizes="192x192" href="/assets/i/app-icon72x72@2x.png"/>

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png"/>

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/assets/i/app-icon72x72@2x.png"/>
    <meta name="msapplication-TileColor" content="#0e90d2"/>

    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=scm1FPgepM119j6ECfmLtPLIE2ZnA1A4"></script>
    <style>
        .contact_text {
            line-height: 25px;
            font-size: 15px;
        }
        .contact_text dd {
            color: #727272;
        }
        .am-form .am-form-group label{
          font-size: 15px;
          color: #727272;
          padding-left: 8px;
        }
    </style>
</head>


<body>
<div th:replace="header::menu"></div>


<div class="am-u-sm-11 aboutus am-margin-top-lg am-u-sm-centered ">
    <div class="zmn-center am-margin-top  zmn_title ">联系我们</div>
    <div class="zmn-center zmn_title1"> CONTACT US</div>

    <h3>联系方式</h3>
    <hr/>
    <div class="am-g contact_text" th:object="${contact}">
        <dd><strong>地 址：</strong> <span th:text="*{address}"></span></dd>
        <dd><strong>电 话：</strong> <span th:text="*{mobilePhone}"/>&nbsp;&nbsp;&nbsp;<span th:text="*{fixedLinePhone}"/></dd>
        <dd><strong>邮 箱：</strong> <span th:text="*{email}"> </span></dd>
    </div>

    <h3 class="contact_text2">联系我们</h3>
    <hr />
    <div>
      <form action="" class="am-form">
        <fieldset style="padding-left: 0px;padding-top: 0px">
          <div class="am-form-group">
            <label for="doc-vld-username">您的名字：</label>
            <input type="text" id="doc-vld-username" name="username" minlength="3" placeholder="输入用户名" class="am-form-field" required/>
          </div>
          <div class="am-form-group">
            <label for="doc-vld-phone">您的电话：</label>
            <input type="text" id="doc-vld-phone" name="phone" minlength="3" placeholder="输入电话" class="am-form-field" required/>
          </div>
          <div class="am-form-group">
            <label for="doc-vld-question">问题：</label>
            <input type="text" id="doc-vld-question" name="question" minlength="3" placeholder="输入问题描述" class="am-form-field" />
          </div>
        </fieldset>
        <button id="submitForm" class="am-btn am-btn-secondary" type="submit" style="float:right" >提交</button>
      </form>
    </div>
</div>
<div th:replace="footer::navbar"></div>

<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $("#submitForm").click(function () {
      var name = $("#doc-vld-username").val();
      var phone = $("#doc-vld-phone").val();
      var message = $("#doc-vld-question").val();
      var website = "光合硅能--手机";
      if (isNull(name)) {
        alert("用户名不能为空");
        return false;
      }
      if (isNull(phone)) {
        alert("电话不能为空");
        return false;
      }
      var data = {"phone": phone, "name": name, "message": message, "website": website};
      $.ajax({
        type: 'POST',
        url: "/customer",
        data: data,
        dataType: "text",
        success: function (result) {
          if (result == "success") {
            alert("提交成功");
            location.reload(true);
          }
        }
      });
      return false;
    })

    function isNull(value) {
      if (value == null || $.trim(value) == "") {
        return true;
      }
      return false;
    }
  });
</script>
</body>
</html>
