<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <!--移动优先-->
    <title>光合硅能</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1"/>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit"/>

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="/assets/i/favicon.png"/>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes"/>
    <link rel="icon" sizes="192x192" href="/assets/i/app-icon72x72@2x.png"/>

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png"/>

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/assets/i/app-icon72x72@2x.png"/>
    <meta name="msapplication-TileColor" content="#0e90d2"/>

    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>

</head>

<body>
<div data-am-widget="navbar" th:fragment="navbar" class="am-navbar am-cf am-navbar-default">
    <ul class="am-navbar-nav am-cf am-avg-sm-4 footer_color" style="border-top: 1px solid #999;background-color: #fff">
        <li >
            <a th:href="@{'sms:'+${contact.getMobilePhone()}+'?body&#x3D;你好？'}" class="">
                <!--<img id="icon_1"  src="/icon/message.png" style="width: 23px;display: inline-block;" />-->
                <i style="    background: url(/icon/icon.png) no-repeat -102px -54px;background-size: 630%;display: inline-block;width: 30px;height: 30px;"></i>
                <span class="am-navbar-label" style="color:#ff6637">消息</span>
            </a>
        </li>
        <li >
            <a th:href="@{'tel:'+${contact.getMobilePhone()}}" class="">
                <!--<img id="icon_2"  src="/icon/tel.png" style="width: 23px;display: inline-block;"/>-->
                <i style="background: url(/icon/icon.png) no-repeat  -103px 3px;background-size: 630%;display: inline-block;width: 30px;height: 30px"></i>
                <span class="am-navbar-label" style="color:#ff6637">呼叫</span>
            </a>
        </li>
        <li data-am-navbar-share>
            <a href="###" class="">
                <!--<img id="icon_3"  src="/icon/share.png" style="width: 23px;display: inline-block;"/>-->
                <i style="background: url(/icon/icon.png) no-repeat -154px -53px;background-size: 630%;display: inline-block;width: 30px;height: 30px"></i>
                <span class="am-navbar-label" style="color:#ff6637">分享</span>
            </a>
        </li>
        <li >
            <a th:href="@{/map}" class="">
                <!--<img id="icon_4" src="/icon/map.png" style="width: 23px;display: inline-block;"/>-->
                <i style="background: url(/icon/icon.png) no-repeat -2px 2px;background-size: 600%;display: inline-block;width: 30px;height: 30px"></i>
                <span class="am-navbar-label" style="color:#ff6637">地图</span>
            </a>
        </li>
    </ul>
</div>


<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<script type="text/javascript">

</script>

</body>
</html>
