<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <!--移动优先-->
    <title>光合硅能</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1"/>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit"/>

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="/assets/i/favicon.png"/>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes"/>
    <link rel="icon" sizes="192x192" href="/assets/i/app-icon72x72@2x.png"/>

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png"/>

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/assets/i/app-icon72x72@2x.png"/>
    <meta name="msapplication-TileColor" content="#0e90d2"/>

    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
  <!--百度商桥代码-->
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?633b2b542b9cd7c156ec0853c31147b7";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>

<body>
<header data-am-widget="header" th:fragment="menu"  class="am-header am-header-default zmn-header-default am-header-fixed">
    <div class="am-header-left am-header-nav">
        <a href="/" class="">
              <span class="am-header-nav-title">
                首页
              </span>

            <i class="am-header-icon am-icon-home"></i>
        </a>
    </div>

    <h1 class="am-header-title">
        光合硅能
    </h1>


    <nav data-am-widget="menu" class="am-menu  am-menu-dropdown1"
         data-am-menu-collapse >
        <a href="javascript: void(0)" class="am-menu-toggle">
            <span class="am-header-nav-title">菜单</span>
            <i class="am-header-icon am-icon-bars"></i>

        </a>


        <ul class="am-menu-nav am-avg-sm-1 am-collapse">

            <li class="">
                <a href="/aboutus" class="menu" >企业文化</a>
            </li>
            <li class="">
                <a href="/products" class="menu" >产品中心</a>
            </li>
            <li class="">
                <a href="/classicCase" class="menu" >经典案例</a>
            </li>
            <li class="">
                <a href="/contact" class="menu" >联系我们</a>
            </li>
            <li class="">
                <a href="/technology" class="menu" >技术支持</a>
            </li>
        </ul>

    </nav>
</header>


<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<script type="text/javascript">

</script>

</body>
</html>
