<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=scm1FPgepM119j6ECfmLtPLIE2ZnA1A4"></script>
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/app.css}"/>
    <title>地图展示</title>
</head>
<body>
<div th:replace="header::menu"></div>
<div th:fragment="map" id="allmap"></div>
<div th:replace="footer::navbar"></div>
</body>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script th:src="@{http://libs.baidu.com/jquery/1.11.3/jquery.min.js}"></script>
<script th:src="@{http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js}"></script>
<script th:src="@{/assets/js/amazeui.ie8polyfill.min.js}"></script>
<![endif]-->
<script th:src="@{/assets/js/amazeui.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/vue/dist/vue.js}"></script>
</html>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");    // 创建Map实例
    map.centerAndZoom(new BMap.Point(112.996469, 28.182525), 11);  // 初始化地图,设置中心点坐标和地图级别
    var point = new BMap.Point(112.996469, 28.182525);
    map.centerAndZoom(point, 15);
    var marker = new BMap.Marker(point);        // 创建标注
    map.addOverlay(marker);                     // 将标注添加到地图中
    //添加地图类型控件
    map.addControl(new BMap.MapTypeControl({
        mapTypes: [
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]
    }));
    map.setCurrentCity("长沙");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
</script>
