<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <!--移动优先-->
    <title>风力发电机-永动新能源有限公司</title>
    <meta name="keywords" content="小型风力发电机,风光互补路灯系统,太阳能发电系统,家用太阳能发电系统,光伏发电系统,风力发电机,风力发电机厂家,风力发电机价格,小型风力发电机,中小型风力发电机,中型风力发电机,湖南前沿科技,风光互补系统,发电系统,水平轴风力发电机,垂直轴风力发电机" />
    <meta name="description" content="永动新能源有限公司主要产品有100W-100kW水平轴风力发电机、垂直轴风力发电机等中小型风力发电机、风光互补路灯、风光互补分布式发电系统、太阳能灯路灯等，可为客户提供风力发电、风光互补发电、风光互补路灯，太阳能路灯系统、 太阳能光伏提水系统及光伏并网发电等一站式解决方案，电话:17773166613" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit"/>

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="/assets/i/favicon.png"/>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes"/>
    <link rel="icon" sizes="192x192" href="/assets/i/app-icon72x72@2x.png"/>

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png"/>

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/assets/i/app-icon72x72@2x.png"/>
    <meta name="msapplication-TileColor" content="#0e90d2"/>

    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
    <!--百度商桥代码-->
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?633b2b542b9cd7c156ec0853c31147b7";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
    <style>
        .about_img {
            width: 100%;
            max-width: 100% !important;
        }


    </style>
</head>


<body>
<div th:replace="windenergy/header::windmenu"></div>

<div class="am-u-sm-11 aboutus am-margin-top-lg am-u-sm-centered ">
    <div class="zmn-center am-margin-top  zmn_title ">关于我们</div>
    <div class="zmn-center zmn_title1"> ABOUT US</div>
    <div class="am-g am-intro-bd">
        <p>
            湖南前沿科技有限公司是一家专业生产风光电池组件以及风光高科技产品的企业，拥有一流的专业技术队伍及先进的生产检测设备。
            公司引进了最先进的专业生产设备，通过完美的生产工艺和严格的质量控制体系，使产品具有效能高、寿命长等特点。
        </p>
        <p>
            公司拥有全套风光电池组件先进制作设备和技术工艺，秉着“诚信经营”的服务宗旨，我们根据客户需求规划设计，为客户量身打造安全、成熟、
            性价比优越的完美产品产品远销于非美、亚洲、欧洲等地区，同时为国内众多太阳能产品开发企业提供各种型号太阳能电池组件以其工艺精湛、性能优越而享誉太阳能行业， 深受广大客户以及同行的认可与信赖。
        </p>
        <p>
            湖南前沿科技有限公司将继续以诚信服务、优良品质、服务周全的经营理念，携全体员工，与广大客户共同努力，为创造绿色新能源，
            推动绿色新能源利用，勇于创新，不断进取，客户至上为宗旨，紧随世界新潮流，促进人与自然社会的和谐发展而不懈努力！
        </p>
    </div>

</div>


<div class="am-g about_img">
    <div th:each="aboutimg:${aboutimgs}">
        <img class="about_img"
             th:src="@{{imgpath}/{filename}(imgpath=${aboutimg.getImagePath()},filename=${aboutimg.getFileName()})}">
    </div>
</div>


</div>
<div th:replace="windenergy/footer::windnavbar"></div>

<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<script type="text/javascript">

</script>

</body>
</html>
